.block {
  text-align: start;
  min-height: 40vh;
  display: flex;
  align-items: flex-start;
  padding: 6rem 5rem;
  box-sizing: border-box;
  flex: 1 1;
  flex-direction: column;
}

.intro_bg {
  background-image: url('../../assets/images/mac_flower.png');
  background-position: right 0;
  background-repeat: no-repeat;
  background-size: 800px 756px;
}

.into_button {
  margin-top: 5rem;
}

.us_title {
  padding-top: 3rem;
  text-align: center;
}

.logo {
  text-align: center;
}

.backend_bg {
  background-image: url('../../assets/images/server.png');
  background-position: right 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.frontend_bg {
  background-image: url('../../assets/images/client.png');
  background-position: right 0;
  background-repeat: no-repeat;
  background-size: initial;
}
