$mdc-theme-primary: #ffffff;
$mdc-theme-on-primary: #38474f;
$mdc-theme-secondary: #f3f3f3;
$mdc-theme-on-secondary: #212121;
// $mdc-theme-surface: red;
$mdc-theme-on-surface: #5d2aea;
$mdc-theme-background: #33333d;
$mdc-theme-on-background: blue;

@import 'node_modules/preact-material-components/Button/mdc-button';
@import 'node_modules/preact-material-components/Card/mdc-card';
@import 'node_modules/preact-material-components/Checkbox/mdc-checkbox';
@import 'node_modules/preact-material-components/Chips/mdc-chips';
@import 'node_modules/preact-material-components/Dialog/mdc-dialog';
@import 'node_modules/preact-material-components/Drawer/mdc-drawer';
@import 'node_modules/preact-material-components/Elevation/mdc-elevation';
@import 'node_modules/preact-material-components/Fab/mdc-fab';
@import 'node_modules/preact-material-components/FormField/mdc-form-field';
@import 'node_modules/preact-material-components/GridList/mdc-grid-list';
@import 'node_modules/preact-material-components/Icon/mdc-icon-toggle';
@import 'node_modules/preact-material-components/IconToggle/mdc-icon-toggle';
@import 'node_modules/preact-material-components/ImageList/mdc-image-list';
@import 'node_modules/preact-material-components/LayoutGrid/mdc-layout-grid';
@import 'node_modules/preact-material-components/LinearProgress/mdc-linear-progress';
@import 'node_modules/preact-material-components/LineRipple/mdc-line-ripple';
@import 'node_modules/preact-material-components/List/mdc-list';
@import 'node_modules/preact-material-components/Menu/mdc-menu';
@import 'node_modules/preact-material-components/Radio/mdc-radio';
@import 'node_modules/preact-material-components/Select/mdc-select';
@import 'node_modules/preact-material-components/Slider/mdc-slider';
@import 'node_modules/preact-material-components/Snackbar/mdc-snackbar';
@import 'node_modules/preact-material-components/Switch/mdc-switch';
@import 'node_modules/preact-material-components/Tabs/mdc-tabs';
@import 'node_modules/preact-material-components/TextField/mdc-text-field';
@import 'node_modules/preact-material-components/Theme/mdc-theme';
@import 'node_modules/preact-material-components/Toolbar/mdc-toolbar';
@import 'node_modules/preact-material-components/TopAppBar/mdc-top-app-bar';
@import 'node_modules/preact-material-components/Typography/mdc-typography';

// Fix the position problem for card image
.mdc-card__media {
  position: static;
}

.mdc-floating-label {
  color: green;
}
